<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue webstore</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
<div id="app" class="container">
	<header>
		<nav class="navbar navbar-expand-lg navbar-default bg-light d-flex justify-content-between">
			<div class="d-flex align-items-center">
				<img :src="logo" height="30" class="mr-3">
				<a class="navbar-brand" href="#">{{ sitename }}</a>
			</div>
			<div>
				<button class="btn btn-light" @click="showCheckout">
					{{ cartItemCount }}
					<i class="fas fa-shopping-cart"></i>
					Checkout
				</button>
			</div>
		</nav>
	</header>
	<main>
		<div class="product mt-5">
			<div v-if="showProduct">
				<div v-for="product in products">
					<div class="row" >
						<div class="col">
							<figure>
								<img width="100%" :src="product.image">
							</figure>
						</div>
						<div class="col">
							<h1 v-text="product.title"></h1>
							<p v-html="product.description"></p>
							<p v-text="" class="price">{{ product.price | formatPrice }}</p>
							<button class="btn btn-success" @click="addToCart(product)" :disabled="!canAddToCart(product)">Add to cart</button>
							<span class="ml-3" v-if="product.availableInventory - cartCount(product.id) === 0">All Out!</span>
							<span class="ml-3" v-else-if="product.availableInventory - cartCount(product.id) < 5">Only {{ product.availableInventory - cartCount(product.id) }} left</span>
							<span class="ml-3" v-else>Buy Now!</span>
							<span class="float-right" v-for="n in 5" :class="{ 'rating-active': checkRating(product, n) }">★</span>
						</div>
					</div>
				</div>
			</div>
			<div v-else>
				<div class="row form-group">
					<div class="col-md-6">
						<strong>First Name:</strong>
						<input type="text" v-model.trim="order.firstName" class="form-control">
					</div>
					<div class="col-md-6">
						<strong>Last Name:</strong>
						<input type="text" v-model.trim="order.lastName" class="form-control">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<strong>Address:</strong>
					</div>
					<div class="col-md-12">
						<input type="text" v-model.trim="order.address" class="form-control">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<strong>City:</strong>
					</div>
					<div class="col-md-12">
						<input type="text" v-model.trim="order.city" class="form-control">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-2">
						<strong>State:</strong>
						<select v-model="order.state" class="form-control">
							<option disabled value="">State</option>
							<option v-for="state in states">{{ state }}</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6 col-md-offset-4">
						<strong>Zip / Postal Code:</strong>
						<input v-model.number="order.zip" class="form-control">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6 boxes">
						<input type="checkbox" id="gift" value="true" :true-value="order.sendGift" :false-value="order.dontSendGift" v-model="order.gift">
						<label for="gift">Ship As Gift ?</label>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6 boxes">
						<input name="method" type="radio" id="home" :value="order.home" v-model="order.method">
						<label for="home">Home</label>
						<input name="method" type="radio" id="business" :value="order.business" v-model="order.method">
						<label for="business">Business</label>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary submit">Place Order</button>
					</div>
				</div>
				<div class="col-md-12 verify">
					<pre>
						First Name: {{ order.firstName }}
						 Last Name: {{ order.lastName }}
						   Address: {{ order.address }}
						      City: {{ order.city }}
						     State: {{ order.state }}
						       ZIP: {{ order.zip }}
						    Method: {{ order.method }}
						      Gift: {{ order.gift }}
					</pre>
				</div>
			</div>
		</div>
	</main>
</div>


<script src="js/vue.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>